@import '../base/all';
@import 'general';
@import '../components/allComponents';
@import '../pages/allPages';

html, body{
	font-size: 16px;
    background: $background;
    font-family: "Bebas Neue", Book, sans-serif !important;
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    max-width: 100%;
}

@font-face{
    font-family: "Bebas Neue";
    src: url("../../css/BebasNeue.otf") format("opentype");
}

$steps: 51;
@for $i from 0 to $steps{
	.cv-buffer-bottom-#{$i} {
		margin-bottom: #{$i}px !important;
	}
	.cv-buffer-top-#{$i} {
		margin-top: #{$i}px !important;
	}
	.cv-buffer-right-#{$i} {
		margin-right: #{$i}px !important;
	}
	.cv-buffer-left-#{$i} {
		margin-left: #{$i}px !important;
	}
}

.desktop-only{
	display: block;
}

@media (max-width: $mobile-break-point){
	.desktop-only{
		display: none;
	}
}

@media (min-width: $desktop-break-point){
	body{
		zoom: 80%;
	}
}