@import '../base/all';
@import 'general';
@import '../components/allComponents';
@import '../pages/allPages';

body{
	font-size: 16px;
    background: $background;
    font-family: "Bebas Neue", Book, sans-serif !important;
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face{
    font-family: "Bebas Neue";
    src: url("../../css/BebasNeue.otf") format("opentype");
}

$steps: 51;
@for $i from 0 to $steps{
	.cv-buffer-bottom-#{$i} {
		margin-bottom: #{$i}px !important;
	}
	.cv-buffer-top-#{$i} {
		margin-top: #{$i}px !important;
	}
	.cv-buffer-right-#{$i} {
		margin-right: #{$i}px !important;
	}
	.cv-buffer-left-#{$i} {
		margin-left: #{$i}px !important;
	}
}