.main{
	height: 100%;
	width: 100%;
}

.section{
	min-height: 100vh;
	width: 100%;
	text-align: center;
}

.section-top{
	padding: 10px;
	max-width: $main-width;
	margin: auto;
	justify-content: center;
	margin-bottom: 20px;
}

.section-bottom{
	background: $trans-red;
	width: 100%;
}

.page-top{	
	background-image: url('../../images/sunset.jpg');
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.page-bottom{	
	width: 100%;
	height: 50px;
}

.logo{
	width: 240px;
	position: absolute;
    left: 180px;
    top: 50px;
}

.subscribe__container{
    display: flex;
    flex-direction: column;
	align-items: flex-end;
	margin-bottom: 40px;
	margin-right: 20%;
    margin-left: 5%;
}

.subscribe{
	display: flex;
	height: 50px;
	line-height: 66px;
    justify-content: center;
}

.text-input{
	border-radius: 10px;
	padding: 30px 10px;
	border: 3px solid $trans-red;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
	color: $black;
	font-family: "Montserrat" !important;
	font-style: italic;
	font-weight: bold;
	height: 66px;
}

.input-label{
	margin-right: 50px;
	font-family: "Montserrat" !important;
	font-weight: bold;
}

.button{
	margin-left: -6px;
	border-radius: 10px;
	background: $trans-red;
	color: white;
	padding: 0 25px;
	cursor: pointer;
	font-family: "Montserrat" !important;
	font-weight: bolder;
	height: 66px;
}

.arrow{
	height: 60px;
    width: 100%;
	background-image: url('../../images/divider.png');
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 50px;
	cursor: pointer;
	z-index: 10;
}

.tent{
	height: 60px;
    width: 100%;
	background-image: url('../../images/tent.png');
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;	
	cursor: pointer;
	z-index: 10;
}

.framed__container{
	max-width: $main-width;
	padding-bottom: 30px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.framed{
	&.first{
		background-image: url('../../images/a1-van.png');
		&:hover{
			background-image: url('../../images/b1-van.png');
		}
	}
	&.second{
		background-image: url('../../images/a2-climber.png');
		&:hover{
			background-image: url('../../images/b2-climber.png');
		}
	}
	&.third{
		background-image: url('../../images/a3-gear.png');
		&:hover{
			background-image: url('../../images/b3-gear.png');
		}
	}
	&.fourth{
		background-image: url('../../images/a4-info.png');
		&:hover{
			background-image: url('../../images/b4-info.png');
		}
	}
	
	height: 400px;
	width: 220px;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
}

.icon{
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	right: 20%;
}

.icon__label{
	margin-bottom: 80px;
}

.icon__container{
	display: flex;
	padding: 15px;
	justify-content: center;
}

.social{
	height: 60px;
	margin: 30px;
	cursor: pointer;
}

.partner__container{
	max-width: $main-width;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.partner{
	width: 28%;
	margin-top: 80px;
}

.partner-image{
	width: 100%;
	height: 100%;
}

.stripe{
	width: 100%;
    height: 115px;
	background: $trans-red;
    position: absolute;
	left: 0;
	margin-top: 100px;
	color: $background;
	font-size: 1.6rem;
}

.fortunate{
	width: 800px;
}

.eligible{
	width: 40%;
	margin-top: 10px;
	margin-bottom: 40px;
}

.contact{
	width: 100%;
	margin-bottom: 10px;
	z-index: 10;
	cursor: pointer;
}

.band{
	margin-top: -20px;
}

@media (max-width: $mobile-break-point){
	.section{
		min-height: 90vh;
	}

	.section-top{
		margin: 0;
	}

	.page-top{	
		background-position: right;
	}

	.logo{
		width: 50vw;
	    left: 30px;
	    top: 30px;
	}

	.subscribe__container{
		align-items: center;
		margin: 0;
	}

	.subscribe{
		display: block;
		line-height: unset;
		height: 120px;
	}

	.text-input{
		padding: 20px 10px;
	}

	.input-label{
		margin-right: 0px;
		margin-bottom: 5px;
	}

	.arrow{
		height: 50px;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.tent{
		height: 50px;
	}

	.framed__container{
		display: block;
		padding: 0;
	}

	.framed{
		&.first{
			float: left;
			margin-bottom: -70px;
			background-image: url('../../images/m1-van.png');
			&:hover{
				background-image: url('../../images/m1-van.png');
			}
			&:after {
			    content: "";
				height: 25%;
				display: block;
				margin-top: 95%;
				border-right: 1px solid grey;
			}
		}
		&.second{
			float: right;
			margin-bottom: -70px;
			background-image: url('../../images/m2-climber.png');
			&:hover{
				background-image: url('../../images/m2-climber.png');
			}
		}
		&.third{
			float: left;
			margin-bottom: 50px;
			background-image: url('../../images/m3-gear.png');
			&:hover{
				background-image: url('../../images/m3-gear.png');
			}
			&:after {
			    content: "";
				height: 55%;
				display: block;
				margin-top: 95%;
				border-right: 1px solid grey;
			}
		}
		&.fourth{
			float: right;
			margin-bottom: 50px;
			background-image: url('../../images/m4-info.png');
			&:hover{
				background-image: url('../../images/m4-info.png');
			}
		}

		width: 50%;
		height: 100vw;
	}

	.icon{
		right: 50%;
		transform: translateX(50%);
	}

	.icon__container{
		display: block;
		padding: 30px;
	}

	.partner{
		width: 30%;
		margin-top: 30px;
	}

	.stripe{
		margin-top: -8px;
	}

	.fortunate{
		width: 100%;
	}

	.eligible{
		width: 100%;
		padding: 30px;
		margin: 0;
	}

	.band{
		margin: 0;
	}
}