.main{
	height: 100%;
	width: 100%;
}

.section{
	min-height: 700px;
	width: 100%;
	text-align: center;
}

.section-top{
	padding: 10px;
	max-width: $main-width;
	margin: auto;
	justify-content: center;
	margin-bottom: 50px;
}

.section-bottom{
	background: $trans-red;
	width: 100%;
}

.page-top{	
	background-image: url('../../images/sunset.jpg');
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.page-bottom{	
	width: 100%;
	height: 50px;
}

.logo{
	width: 240px;
	position: absolute;
    left: 180px;
    top: 50px;
}

.subscribe__container{
    display: flex;
    flex-direction: column;
	align-items: flex-end;
	margin-bottom: 40px;
	margin-right: 20%;
    margin-left: 5%;
}

.subscribe{
	display: flex;
	height: 50px;
	line-height: 66px;
    justify-content: center;
}

.text-input{
	border-radius: 10px;
	padding: 30px 10px;
	border: 3px solid $trans-red;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
	color: $black;
	font-family: "Montserrat" !important;
	font-style: italic;
	font-weight: bold;
	height: 66px;
}

.input-label{
	margin-right: 50px;
	font-family: "Montserrat" !important;
	font-weight: bold;
}

.button{
	margin-left: -6px;
	border-radius: 10px;
	background: $trans-red;
	color: white;
	padding: 0 25px;
	cursor: pointer;
	font-family: "Montserrat" !important;
	font-weight: bolder;
	height: 66px;
}

.arrow{
	height: 70px;
    width: 100%;
	background-image: url('../../images/divider.png');
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 50px;
	cursor: pointer;
	z-index: 10;
}

.tent{
	height: 70px;
    width: 100%;
	background-image: url('../../images/tent.png');
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;	
	cursor: pointer;
	z-index: 10;
}

.framed{
	width: 25%;
}

.framed-image{
	width: 100%;
	border: 2.75px solid $dark-red;
}

.framed__container{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.icon{
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	right: 20%;
}

.icon__label{
	color: $white;
	line-height: 30px;
}

.icon__container{
	display: flex;
	padding: 15px;
	justify-content: center;
}

.modal__mask{
	width: 100%;
	height: 100%;
	background: $dark-grey;
	opacity: 0.85;
	position: fixed;
	left: 0;
	top: 0;	
}

.modal__container{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.modal__body{
	background: $white;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}

.modal__frame{
	width: 100%;
	height: 100%;
}

.social{
	height: 60px;
	margin: 30px;
	cursor: pointer;
}

.partner__container{
	max-width: $main-width;
	margin: auto;
	display: flex;
	justify-content: center;
}

.partner{
	width: 33%;
	height: 400px;
	margin-top: 40px;
	margin-bottom: -50px;
}

.partner-image{
	width: 100%;
	height: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.stripe{
	width: 100%;
    height: 115px;
	background: $trans-red;
    position: absolute;
	left: 0;
	margin-top: 100px;
	color: $background;
	font-size: 1.6rem;
}

.fortunate{
	width: 800px;
	margin-bottom: -70px;
}

.eligible{
	width: 40%;
	margin-top: 10px;
	margin-bottom: 40px;
}

.contact{
	width: 100%;
	margin-bottom: 10px;
	z-index: 10;
	cursor: pointer;
}

@media (max-width: $mobile-break-point){
	.section{
		min-height: 90vh;
		width: 100%;
		text-align: center;
	}

	.page-top{	
		background-position: right;
	}

	.logo{
		width: 50vw;
	    left: 30px;
	    top: 30px;
	}

	.subscribe__container{
		align-items: center;
		margin: 0;
	}

	.subscribe{
		display: block;
		line-height: unset;
	}

	.text-input{
		padding: 20px 10px;
	}

	.input-label{
		margin-right: 0px;
		margin-bottom: 5px;
	}

	.arrow{
		height: 50px;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.tent{
		height: 50px;
	}

	.framed{
		width: 90%;
		margin-bottom: 20px;
	}

	.framed__container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.icon{
		right: 50%;
		transform: translateX(50%);
	}

	.icon__container{
		display: block;
		padding: 30px;
	}

	.partner__container{
		display: block;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.partner{
		width: 100%;
	}

	.stripe{
		margin-top: -5px;
	}

	.fortunate{
		width: 100%;
	}

	.eligible{
		width: 100%;
		padding: 30px;
		margin: 0;
	}
}